@font-face {
  font-family: mc-l;
  src: url(../../../public/font/mplus-1m-light.ttf) format("opentype"); }

@font-face {
  font-family: mc-b;
  src: url(../../../public/font/mplus-1m-bold.ttf) format("opentype"); }

@font-face {
  font-family: mc-r;
  src: url(../../../public/font/mplus-1m-regular.ttf) format("opentype"); }

@font-face {
  font-family: mc-t;
  src: url(../../../public/font/mplus-1m-thin) format("opentype"); }

@font-face {
  font-family: mc-m;
  src: url(../../../public/font/mplus-1m-medium.ttf) format("opentype"); }

* {
  padding: 0;
  margin: 0;
  font-weight: normal; }

body {
  font-family: mc-r;
  text-align: center; }

h1 {
  font-weight: bold;
  padding: 30px 0px; }

dt {
  border: #000 solid 3px; }
