doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(href="css/style.css" rel="stylesheet" type="text/css")
    script(src="js/index.js" type="text/javascript")
    title enchantの練習
  body
    h1.sitettl Jadeだ
    main.main
      h2.content_ttl cssが効かないぞ
